NEXT_PUBLIC_API_URL=http://localhost:3000
SUPABASE_URL=https://plvuigkuwtsekklswzhw.supabase.co
SUPABASE_ANON_KEY=replace-me
SUPABASE_SERVICE_ROLE_KEY=server-only
GOOGLE_CLIENT_ID=server-only
GOOGLE_CLIENT_SECRET=server-only
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
JWT_SECRET=server-only
INPAY_API_URL=https://inpay.uz/api/v1/
INPAY_MERCHANT_ID=server-only
INPAY_MERCHANT_TOKEN=server-only
INPAY_WEBHOOK_SECRET=server-only
